################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Homework_1_ШуленкоЄлизаветаРоманівна/HW1/.vs
/Homework_1_ШуленкоЄлизаветаРоманівна/HW1/Task1/bin/Debug/net6.0
/Homework_1_ШуленкоЄлизаветаРоманівна/HW1/Task1/obj
