################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.vs
/**/bin/Debug/net6.0
/**/obj
/Homework_6_ШуленкоЄлизаветаРоманівна/HW6/Task1/bin/Debug/Test.txt
